In [115]:
import numpy as np
class BinaryLogisticRegressionBase:
    # private:
    def __init__(self, eta, iterations=20):
        self.eta = eta
        self.iters = iterations
        # internally we will store the weights as self.w_ to keep with sklearn conventions
    
    def __str__(self):
        return 'Base Binary Logistic Regression Object, Not Trainable'
    
    # convenience, private and static:
    @staticmethod
    def _sigmoid(theta):
        return 1/(1+np.exp(-theta)) 
    
    @staticmethod
    def _add_bias(X):
        return np.hstack((np.ones((X.shape[0],1)),X)) # add bias term
    
    # public:
    def predict_proba(self,X,add_bias=True):
        # add bias term if requested
        Xb = self._add_bias(X) if add_bias else X
        return self._sigmoid(Xb @ self.w_) # return the probability y=1
    
    def predict(self,X):
        return (self.predict_proba(X)>0.5) #return the actual prediction
    
    
        
blr = BinaryLogisticRegressionBase(0.1)
print(blr)

Base Binary Logistic Regression Object, Not Trainable

In [116]:
class BinaryLogisticRegression(BinaryLogisticRegressionBase):
    #private:
    def __str__(self):
        if(hasattr(self,'w_')):
            return 'Binary Logistic Regression Object with coefficients:\n'+ str(self.w_) # is we have trained the object
        else:
            return 'Untrained Binary Logistic Regression Object'
        
    def _get_gradient(self,X,y):
        # programming \sum_i (yi-g(xi))xi
        gradient = np.zeros(self.w_.shape) # set gradient to zero
        for (xi,yi) in zip(X,y):
            # the actual update inside of sum
            gradi = (yi - self.predict_proba(xi,add_bias=False))*xi 
            # reshape to be column vector and add to gradient
            gradient += gradi.reshape(self.w_.shape) 
        
        return gradient/float(len(y))
       
    # public:
    def fit(self, X, y):
        Xb = self._add_bias(X) # add bias term
        num_samples, num_features = Xb.shape
        
        self.w_ = np.zeros((num_features,1)) # init weight vector to zeros
        
        # for as many as the max iterations
        for _ in range(self.iters):
            gradient = self._get_gradient(Xb,y)
            self.w_ += gradient*self.eta # multiply by learning rate 

            
blr = BinaryLogisticRegression(0.1)
print(blr)

Untrained Binary Logistic Regression Object

In [117]:
import plotly
import pandas as pd
data = pd.read_csv("./data/uber_nyc_enriched.csv")

In [118]:
data.describe()

,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd
count,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000,29101.000000
mean,490.215903,5.984924,8.818125,47.669042,30.823065,1017.817938,0.003830,0.026129,0.090464,2.529169
std,995.649536,3.699007,2.442897,19.814969,21.283444,7.768796,0.018933,0.093125,0.219402,4.520325
min,0.000000,0.000000,0.000000,2.000000,-16.000000,991.400000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.000000,9.100000,32.000000,14.000000,1012.500000,0.000000,0.000000,0.000000,0.000000
50%,54.000000,6.000000,10.000000,46.000000,30.000000,1018.200000,0.000000,0.000000,0.000000,0.000000
75%,449.000000,8.000000,10.000000,64.500000,50.000000,1022.900000,0.000000,0.000000,0.050000,2.958333
max,7883.000000,21.000000,10.000000,89.000000,73.000000,1043.400000,0.280000,1.240000,2.100000,19.000000

<p> checking for nan values in dataset </p>

In [119]:
data.isnull().values.any()

True

<p> We found only Borough has nan values so we remove the nan rows </p>

In [120]:
data.isnull().any()

pickup_dt    False
borough       True
pickups      False
spd          False
vsb          False
temp         False
dewp         False
slp          False
pcp01        False
pcp06        False
pcp24        False
sd           False
hday         False
dtype: bool

In [121]:
data = data.dropna()

In [122]:
data.isnull().any()

pickup_dt    False
borough      False
pickups      False
spd          False
vsb          False
temp         False
dewp         False
slp          False
pcp01        False
pcp06        False
pcp24        False
sd           False
hday         False
dtype: bool

In [123]:
data.corr()

,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd
pickups,1.000000,0.009741,-0.008429,0.063692,0.040082,-0.015708,0.005007,-0.002821,-0.022935,-0.009676
spd,0.009741,1.000000,0.086177,-0.296126,-0.321606,-0.092761,-0.000357,0.016668,-0.010412,0.097041
vsb,-0.008429,0.086177,1.000000,0.025214,-0.231294,0.167039,-0.488407,-0.118346,0.000895,-0.047834
temp,0.063692,-0.296126,0.025214,1.000000,0.896544,-0.224537,-0.013343,-0.037295,-0.014408,-0.545558
dewp,0.040082,-0.321606,-0.231294,0.896544,1.000000,-0.311156,0.115399,0.013293,0.001519,-0.489372
slp,-0.015708,-0.092761,0.167039,-0.224537,-0.311156,1.000000,-0.089752,-0.104940,-0.134689,0.121508
pcp01,0.005007,-0.000357,-0.488407,-0.013343,0.115399,-0.089752,1.000000,0.128064,0.000997,0.000310
pcp06,-0.002821,0.016668,-0.118346,-0.037295,0.013293,-0.104940,0.128064,1.000000,0.251166,0.039943
pcp24,-0.022935,-0.010412,0.000895,-0.014408,0.001519,-0.134689,0.000997,0.251166,1.000000,0.069664
sd,-0.009676,0.097041,-0.047834,-0.545558,-0.489372,0.121508,0.000310,0.039943,0.069664,1.000000

In [124]:
data

,pickup_dt,borough,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd,hday
0,2015-01-01 01:00:00,Bronx,152,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
1,2015-01-01 01:00:00,Brooklyn,1519,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
2,2015-01-01 01:00:00,EWR,0,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
3,2015-01-01 01:00:00,Manhattan,5258,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
4,2015-01-01 01:00:00,Queens,405,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
5,2015-01-01 01:00:00,Staten Island,6,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
7,2015-01-01 02:00:00,Bronx,120,3.0,10.0,30.0,6.0,1023.0,0.0,0.0,0.0,0.0,Y
8,2015-01-01 02:00:00,Brooklyn,1229,3.0,10.0,30.0,6.0,1023.0,0.0,0.0,0.0,0.0,Y
9,2015-01-01 02:00:00,EWR,0,3.0,10.0,30.0,6.0,1023.0,0.0,0.0,0.0,0.0,Y
10,2015-01-01 02:00:00,Manhattan,4345,3.0,10.0,30.0,6.0,1023.0,0.0,0.0,0.0,0.0,Y
11,2015-01-01 02:00:00,Queens,331,3.0,10.0,30.0,6.0,1023.0,0.0,0.0,0.0,0.0,Y
12,2015-01-01 02:00:00,Staten Island,7,3.0,10.0,30.0,6.0,1023.0,0.0,0.0,0.0,0.0,Y
14,2015-01-01 03:00:00,Bronx,132,5.0,10.0,30.0,8.0,1022.3,0.0,0.0,0.0,0.0,Y
15,2015-01-01 03:00:00,Brooklyn,1601,5.0,10.0,30.0,8.0,1022.3,0.0,0.0,0.0,0.0,Y
16,2015-01-01 03:00:00,EWR,0,5.0,10.0,30.0,8.0,1022.3,0.0,0.0,0.0,0.0,Y
17,2015-01-01 03:00:00,Manhattan,4577,5.0,10.0,30.0,8.0,1022.3,0.0,0.0,0.0,0.0,Y
18,2015-01-01 03:00:00,Queens,440,5.0,10.0,30.0,8.0,1022.3,0.0,0.0,0.0,0.0,Y
19,2015-01-01 03:00:00,Staten Island,12,5.0,10.0,30.0,8.0,1022.3,0.0,0.0,0.0,0.0,Y
21,2015-01-01 04:00:00,Bronx,128,5.0,10.0,29.0,9.0,1022.0,0.0,0.0,0.0,0.0,Y
22,2015-01-01 04:00:00,Brooklyn,1390,5.0,10.0,29.0,9.0,1022.0,0.0,0.0,0.0,0.0,Y
23,2015-01-01 04:00:00,EWR,0,5.0,10.0,29.0,9.0,1022.0,0.0,0.0,0.0,0.0,Y
24,2015-01-01 04:00:00,Manhattan,3003,5.0,10.0,29.0,9.0,1022.0,0.0,0.0,0.0,0.0,Y
25,2015-01-01 04:00:00,Queens,344,5.0,10.0,29.0,9.0,1022.0,0.0,0.0,0.0,0.0,Y
26,2015-01-01 04:00:00,Staten Island,5,5.0,10.0,29.0,9.0,1022.0,0.0,0.0,0.0,0.0,Y
28,2015-01-01 05:00:00,Bronx,87,5.0,10.0,28.0,9.0,1021.8,0.0,0.0,0.0,0.0,Y
29,2015-01-01 05:00:00,Brooklyn,759,5.0,10.0,28.0,9.0,1021.8,0.0,0.0,0.0,0.0,Y
30,2015-01-01 05:00:00,EWR,0,5.0,10.0,28.0,9.0,1021.8,0.0,0.0,0.0,0.0,Y
31,2015-01-01 05:00:00,Manhattan,1313,5.0,10.0,28.0,9.0,1021.8,0.0,0.0,0.0,0.0,Y
32,2015-01-01 05:00:00,Queens,241,5.0,10.0,28.0,9.0,1021.8,0.0,0.0,0.0,0.0,Y
33,2015-01-01 05:00:00,Staten Island,3,5.0,10.0,28.0,9.0,1021.8,0.0,0.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29068,2015-06-30 19:00:00,Bronx,88,5.0,10.0,80.0,58.0,1012.5,0.0,0.0,0.0,0.0,N
29069,2015-06-30 19:00:00,Brooklyn,777,5.0,10.0,80.0,58.0,1012.5,0.0,0.0,0.0,0.0,N
29070,2015-06-30 19:00:00,EWR,0,5.0,10.0,80.0,58.0,1012.5,0.0,0.0,0.0,0.0,N
29071,2015-06-30 19:00:00,Manhattan,4585,5.0,10.0,80.0,58.0,1012.5,0.0,0.0,0.0,0.0,N
29072,2015-06-30 19:00:00,Queens,417,5.0,10.0,80.0,58.0,1012.5,0.0,0.0,0.0,0.0,N
29073,2015-06-30 19:00:00,Staten Island,3,5.0,10.0,80.0,58.0,1012.5,0.0,0.0,0.0,0.0,N
29075,2015-06-30 20:00:00,Bronx,66,8.0,10.0,80.0,58.0,1012.4,0.0,0.0,0.0,0.0,N
29076,2015-06-30 20:00:00,Brooklyn,817,8.0,10.0,80.0,58.0,1012.4,0.0,0.0,0.0,0.0,N
29077,2015-06-30 20:00:00,EWR,0,8.0,10.0,80.0,58.0,1012.4,0.0,0.0,0.0,0.0,N
29078,2015-06-30 20:00:00,Manhattan,4210,8.0,10.0,80.0,58.0,1012.4,0.0,0.0,0.0,0.0,N
29079,2015-06-30 20:00:00,Queens,438,8.0,10.0,80.0,58.0,1012.4,0.0,0.0,0.0,0.0,N
29080,2015-06-30 20:00:00,Staten Island,3,8.0,10.0,80.0,58.0,1012.4,0.0,0.0,0.0,0.0,N
29082,2015-06-30 21:00:00,Bronx,57,7.0,10.0,76.0,61.0,1012.4,0.0,0.0,0.0,0.0,N
29083,2015-06-30 21:00:00,Brooklyn,829,7.0,10.0,76.0,61.0,1012.4,0.0,0.0,0.0,0.0,N
29084,2015-06-30 21:00:00,EWR,0,7.0,10.0,76.0,61.0,1012.4,0.0,0.0,0.0,0.0,N
29085,2015-06-30 21:00:00,Manhattan,4313,7.0,10.0,76.0,61.0,1012.4,0.0,0.0,0.0,0.0,N
29086,2015-06-30 21:00:00,Queens,483,7.0,10.0,76.0,61.0,1012.4,0.0,0.0,0.0,0.0,N
29087,2015-06-30 21:00:00,Staten Island,2,7.0,10.0,76.0,61.0,1012.4,0.0,0.0,0.0,0.0,N
29088,2015-06-30 22:00:00,Bronx,53,5.0,10.0,76.0,64.0,1011.9,0.0,0.0,0.0,0.0,N
29089,2015-06-30 22:00:00,Brooklyn,860,5.0,10.0,76.0,64.0,1011.9,0.0,0.0,0.0,0.0,N
29090,2015-06-30 22:00:00,EWR,0,5.0,10.0,76.0,64.0,1011.9,0.0,0.0,0.0,0.0,N
29091,2015-06-30 22:00:00,Manhattan,4452,5.0,10.0,76.0,64.0,1011.9,0.0,0.0,0.0,0.0,N
29092,2015-06-30 22:00:00,Queens,556,5.0,10.0,76.0,64.0,1011.9,0.0,0.0,0.0,0.0,N
29093,2015-06-30 22:00:00,Staten Island,2,5.0,10.0,76.0,64.0,1011.9,0.0,0.0,0.0,0.0,N
29094,2015-06-30 23:00:00,Bronx,67,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29095,2015-06-30 23:00:00,Brooklyn,990,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29096,2015-06-30 23:00:00,EWR,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29097,2015-06-30 23:00:00,Manhattan,3828,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29098,2015-06-30 23:00:00,Queens,580,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
29099,2015-06-30 23:00:00,Staten Island,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N

In [125]:
del data['dewp']

In [126]:
data

,pickup_dt,borough,pickups,spd,vsb,temp,slp,pcp01,pcp06,pcp24,sd,hday
0,2015-01-01 01:00:00,Bronx,152,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,Y
1,2015-01-01 01:00:00,Brooklyn,1519,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,Y
2,2015-01-01 01:00:00,EWR,0,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,Y
3,2015-01-01 01:00:00,Manhattan,5258,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,Y
4,2015-01-01 01:00:00,Queens,405,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,Y
5,2015-01-01 01:00:00,Staten Island,6,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,Y
7,2015-01-01 02:00:00,Bronx,120,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,Y
8,2015-01-01 02:00:00,Brooklyn,1229,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,Y
9,2015-01-01 02:00:00,EWR,0,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,Y
10,2015-01-01 02:00:00,Manhattan,4345,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,Y
11,2015-01-01 02:00:00,Queens,331,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,Y
12,2015-01-01 02:00:00,Staten Island,7,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,Y
14,2015-01-01 03:00:00,Bronx,132,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,Y
15,2015-01-01 03:00:00,Brooklyn,1601,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,Y
16,2015-01-01 03:00:00,EWR,0,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,Y
17,2015-01-01 03:00:00,Manhattan,4577,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,Y
18,2015-01-01 03:00:00,Queens,440,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,Y
19,2015-01-01 03:00:00,Staten Island,12,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,Y
21,2015-01-01 04:00:00,Bronx,128,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,Y
22,2015-01-01 04:00:00,Brooklyn,1390,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,Y
23,2015-01-01 04:00:00,EWR,0,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,Y
24,2015-01-01 04:00:00,Manhattan,3003,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,Y
25,2015-01-01 04:00:00,Queens,344,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,Y
26,2015-01-01 04:00:00,Staten Island,5,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,Y
28,2015-01-01 05:00:00,Bronx,87,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,Y
29,2015-01-01 05:00:00,Brooklyn,759,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,Y
30,2015-01-01 05:00:00,EWR,0,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,Y
31,2015-01-01 05:00:00,Manhattan,1313,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,Y
32,2015-01-01 05:00:00,Queens,241,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,Y
33,2015-01-01 05:00:00,Staten Island,3,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
29068,2015-06-30 19:00:00,Bronx,88,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,N
29069,2015-06-30 19:00:00,Brooklyn,777,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,N
29070,2015-06-30 19:00:00,EWR,0,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,N
29071,2015-06-30 19:00:00,Manhattan,4585,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,N
29072,2015-06-30 19:00:00,Queens,417,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,N
29073,2015-06-30 19:00:00,Staten Island,3,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,N
29075,2015-06-30 20:00:00,Bronx,66,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,N
29076,2015-06-30 20:00:00,Brooklyn,817,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,N
29077,2015-06-30 20:00:00,EWR,0,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,N
29078,2015-06-30 20:00:00,Manhattan,4210,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,N
29079,2015-06-30 20:00:00,Queens,438,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,N
29080,2015-06-30 20:00:00,Staten Island,3,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,N
29082,2015-06-30 21:00:00,Bronx,57,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,N
29083,2015-06-30 21:00:00,Brooklyn,829,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,N
29084,2015-06-30 21:00:00,EWR,0,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,N
29085,2015-06-30 21:00:00,Manhattan,4313,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,N
29086,2015-06-30 21:00:00,Queens,483,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,N
29087,2015-06-30 21:00:00,Staten Island,2,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,N
29088,2015-06-30 22:00:00,Bronx,53,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,N
29089,2015-06-30 22:00:00,Brooklyn,860,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,N
29090,2015-06-30 22:00:00,EWR,0,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,N
29091,2015-06-30 22:00:00,Manhattan,4452,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,N
29092,2015-06-30 22:00:00,Queens,556,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,N
29093,2015-06-30 22:00:00,Staten Island,2,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,N
29094,2015-06-30 23:00:00,Bronx,67,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,N
29095,2015-06-30 23:00:00,Brooklyn,990,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,N
29096,2015-06-30 23:00:00,EWR,0,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,N
29097,2015-06-30 23:00:00,Manhattan,3828,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,N
29098,2015-06-30 23:00:00,Queens,580,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,N
29099,2015-06-30 23:00:00,Staten Island,0,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,N

In [127]:
data['hday'] = data['hday'].apply(lambda x: 0 if x=='N' else 1)

In [128]:
oneHotCols = pd.get_dummies(data['borough'])
data = data.join(oneHotCols)

In [129]:
data

,pickup_dt,borough,pickups,spd,vsb,temp,slp,pcp01,pcp06,pcp24,sd,hday,Bronx,Brooklyn,EWR,Manhattan,Queens,Staten Island
0,2015-01-01 01:00:00,Bronx,152,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,1,1,0,0,0,0,0
1,2015-01-01 01:00:00,Brooklyn,1519,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0
2,2015-01-01 01:00:00,EWR,0,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,1,0,0,1,0,0,0
3,2015-01-01 01:00:00,Manhattan,5258,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0
4,2015-01-01 01:00:00,Queens,405,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0
5,2015-01-01 01:00:00,Staten Island,6,5.0,10.0,30.0,1023.5,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1
7,2015-01-01 02:00:00,Bronx,120,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,1,1,0,0,0,0,0
8,2015-01-01 02:00:00,Brooklyn,1229,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0
9,2015-01-01 02:00:00,EWR,0,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,1,0,0,1,0,0,0
10,2015-01-01 02:00:00,Manhattan,4345,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0
11,2015-01-01 02:00:00,Queens,331,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0
12,2015-01-01 02:00:00,Staten Island,7,3.0,10.0,30.0,1023.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1
14,2015-01-01 03:00:00,Bronx,132,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,1,1,0,0,0,0,0
15,2015-01-01 03:00:00,Brooklyn,1601,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0
16,2015-01-01 03:00:00,EWR,0,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,1,0,0,1,0,0,0
17,2015-01-01 03:00:00,Manhattan,4577,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0
18,2015-01-01 03:00:00,Queens,440,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0
19,2015-01-01 03:00:00,Staten Island,12,5.0,10.0,30.0,1022.3,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1
21,2015-01-01 04:00:00,Bronx,128,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,1,1,0,0,0,0,0
22,2015-01-01 04:00:00,Brooklyn,1390,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0
23,2015-01-01 04:00:00,EWR,0,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,1,0,0,1,0,0,0
24,2015-01-01 04:00:00,Manhattan,3003,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0
25,2015-01-01 04:00:00,Queens,344,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0
26,2015-01-01 04:00:00,Staten Island,5,5.0,10.0,29.0,1022.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1
28,2015-01-01 05:00:00,Bronx,87,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,1,1,0,0,0,0,0
29,2015-01-01 05:00:00,Brooklyn,759,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0
30,2015-01-01 05:00:00,EWR,0,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,1,0,0,1,0,0,0
31,2015-01-01 05:00:00,Manhattan,1313,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0
32,2015-01-01 05:00:00,Queens,241,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0
33,2015-01-01 05:00:00,Staten Island,3,5.0,10.0,28.0,1021.8,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29068,2015-06-30 19:00:00,Bronx,88,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0
29069,2015-06-30 19:00:00,Brooklyn,777,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0
29070,2015-06-30 19:00:00,EWR,0,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0
29071,2015-06-30 19:00:00,Manhattan,4585,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0
29072,2015-06-30 19:00:00,Queens,417,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0
29073,2015-06-30 19:00:00,Staten Island,3,5.0,10.0,80.0,1012.5,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1
29075,2015-06-30 20:00:00,Bronx,66,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0
29076,2015-06-30 20:00:00,Brooklyn,817,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0
29077,2015-06-30 20:00:00,EWR,0,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0
29078,2015-06-30 20:00:00,Manhattan,4210,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0
29079,2015-06-30 20:00:00,Queens,438,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0
29080,2015-06-30 20:00:00,Staten Island,3,8.0,10.0,80.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1
29082,2015-06-30 21:00:00,Bronx,57,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0
29083,2015-06-30 21:00:00,Brooklyn,829,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0
29084,2015-06-30 21:00:00,EWR,0,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0
29085,2015-06-30 21:00:00,Manhattan,4313,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0
29086,2015-06-30 21:00:00,Queens,483,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0
29087,2015-06-30 21:00:00,Staten Island,2,7.0,10.0,76.0,1012.4,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1
29088,2015-06-30 22:00:00,Bronx,53,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0
29089,2015-06-30 22:00:00,Brooklyn,860,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0
29090,2015-06-30 22:00:00,EWR,0,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0
29091,2015-06-30 22:00:00,Manhattan,4452,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0
29092,2015-06-30 22:00:00,Queens,556,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0
29093,2015-06-30 22:00:00,Staten Island,2,5.0,10.0,76.0,1011.9,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1
29094,2015-06-30 23:00:00,Bronx,67,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0
29095,2015-06-30 23:00:00,Brooklyn,990,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0
29096,2015-06-30 23:00:00,EWR,0,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0
29097,2015-06-30 23:00:00,Manhattan,3828,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0
29098,2015-06-30 23:00:00,Queens,580,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0
29099,2015-06-30 23:00:00,Staten Island,0,7.0,10.0,75.0,1011.8,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1

In [130]:
del data['borough']